.form-container{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.form-input{
    display: flex;
    flex-direction: row;
}

.form-block{
    margin-right: 3em;
}

.form-block label {
    color:azure;
    font-size: 16px;
}

.form-block input {
    width: 10em;
    margin-top: 1em;
    padding: 3px;
    height: 2em;
}
.form-block-btn{
    padding: 3px;
    height: 2em;
}
